i{
    color:#181818;
    margin-right:5px;
}

#mainRow{
    margin:auto;
    max-width:750px;
}

#submitButton{
    width:15rem;
}

.btn-primary:disabled{
    color: #fff;
    background-color: #d4d4d4;
    border-color: #ffffff;
}

#loginButton{
    width:12rem;
    background-color: #df3ff5ed;
    border:none;
}