<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/"><i class="far fa-compass"></i> Harsh</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation" (click)="menuToggleClicked()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div #menu class="collapse navbar-collapse"  id="navbarSupportedContent" [attr.aria-expanded]="!isCollapsed" >
    <ul class="navbar-nav mr-auto" (click)="menuItemClicked()">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="my-profile">My Profile</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/date">Date</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/feedback">Feedback</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/matches">Matches</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/messaging">Messaging</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/search">Search</a>
      </li>
    </ul>

    <a aria-label="logout" class="text-muted" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</a>
  </div>
</nav>