.navbar-light .navbar-nav .active{
    font-weight:500;
    
}

.navbar{
    background-color:white;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color:#00000012;
}

a{
    cursor: pointer;
}

#icon{
    max-width:25px;
}