<div class="row mb-4 pt-4 " id="item">
  <div class="col-12">
    <div class="row">
      <div class="col-7 col-sm-12 order-11 order-sm-1">
        <p class="text-right">{{feedback?.feedback?.dateAdded | date}}</p>
      </div>
      <div class="col-5 col-sm-3 order-10">

        <div class="row mb-3 mb-sm-0">
          <div class="col-12 col-sm-10 pl-4 d-flex justify-content-center align-items-center">
            <div *ngIf="feedback?.gender == 'Female'; then femaleSign else maleSign"></div>
            <ng-template #femaleSign>
              <i class="fas fa-venus big"></i>
            </ng-template>
            <ng-template #maleSign>
              <i class="fas fa-mars big"></i>
            </ng-template>
            <span id="age" class="pl-2 pl-sm-4">
              <strong>{{feedback?.age}}</strong>
            </span>
          </div>
        </div>

      </div>
      <div class="col-12 col-sm-9 d-flex align-items-center order-12">
        <ul>
          <li>Interested in
            <strong>{{feedback?.preference}}</strong>
          </li>
          <li>Has a
            <strong>{{feedback?.bodyType}}</strong> body</li>
        </ul>
      </div>

    </div>
    <div class="row mt-2 mt-sm-4">
      <div class="col-12">

        <div>
          <p id="feedbackParagraph" class="p-4" [ngClass]="{'paragraphClosed': !paragraphExpanded}">
            {{feedback?.feedback.feedback}}

          </p>
          <div *ngIf="!paragraphExpanded" id="paragraphScreen" (click)="paragraphExpanded = true">
            <p class="text-center">
              Click to expand
            </p>
          </div>

        </div>


      </div>
    </div>
  </div>
</div>