.big{
    font-size: 5rem;
}

.fa-mars{
    color:#00005a87;
}

.fa-venus{
    color:#cc05286b;
}

#item{
    /* background-color:#fff5e5; */
    background-color:white;
    /* box-shadow:2px 4px 0px 1px #0000003b; */
    box-shadow: 0px 1px 6px 0px #00000029;
}

#age{
    font-size:1.4rem;
    padding-left:2.5rem;
}

p{
    white-space: pre-line;
}

.feedbackParagraph{
    background-color:white;
}

.readMoreClosed{
    height:130px;
    overflow: hidden;
}

.redeemClosed{
    height:75px;
    overflow: hidden;
}

.readMoreButton{
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
    
    padding-left:15px;
    padding-right:15px;

    cursor: pointer;
}

.readMoreButton p{
    
    color:black;
    font-size:1.25rem;
}

.redeemScreen{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    
    padding-left:15px;
    padding-right:15px;

    cursor: pointer;

    
}

.redeemScreen p{
    
    color:#003d7dfc;
    height:75px;
    padding-top:25px;

    font-size:1.25rem;
}

.backgroundWhite{
    background-color:#ffffffe3;
}

.backgroundGreen{
    /* background-color:#001f40e0; */
}

li{
    list-style-type: circle;
    font-size:18px;
}

ul{
    margin-bottom: 0px;
}

.acceptFooter{
    border-top:1px solid #e9ecef;
}