body {
    font-family: 'Oswald', sans-serif !important;
}

.pointerCursor{
    cursor: pointer;
}


.arrow{
    border-top:2px solid #ef4705 !important;
    border-left:2px solid #ef4705 !important;
}