#mainRow{
    max-width:1080px;
    margin:auto;
}

.header p{
    font-size:12px;
    margin-left:35px;
}



.shadowRow{
    background-color:white;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.11);
}