a{
    color:#283659;
}

#feedbackNav{
    /* background-color:#fff5e5; */
    /* background-color:white; */
    /* box-shadow:0 0 14px 0px #0000003b; */
}
#feedbackNav p{
    font-size:1.7rem;
}


.nav-item {
    z-index: 5;
    
}

.nav-link.active{
    background-color:white;
    border-color:rgb(6, 62, 127);
    border-style: solid;
    border-width:1px;
    color:black;
}
.nav-link{
    border-color:rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width:1px;
    /* background-color:#00000017; */
}

.nav-pills .nav-link{
    border-radius: 0px;
}

#mainRow{
    max-width:750px;
    margin:auto;
    background-color:white;
    /* background-color:#fdd698; */
    /* box-shadow:0 0 14px 0px #0000003b; */
}


.nav-justified .nav-item{
    flex-basis:auto;
}

.tabPic{
    max-width:25px;
}

