a{
    color:#283659;
}

#feedbackNav{
    /* background-color:#fff5e5; */
    /* background-color:white; */
    /* box-shadow:0 0 14px 0px #0000003b; */
}
#feedbackNav p{
    font-size:1.7rem;
}


#feedbackData{
    
}

#bodyyy{
    background-color:white;
    box-shadow: 0px 1px 6px 0px #00000029;
}

.nav-item {
    z-index: 5;
}

#mainRow{
    max-width:750px;
    margin:auto;

    /* background-color:#fdd698; */
    /* box-shadow:0 0 14px 0px #0000003b; */
}

.nav-justified .nav-item{
    flex-basis:auto;
}

