<div class="row" id="mainRow">
  <div class="col-12">

    <div class="row justify-content-center" *ngIf="feedbackAboutMe.length <= 0 && feedbackIGave.length <= 0">
      <app-loading></app-loading>
    </div>

    <div class="row" id="feedbackNav" *ngIf="feedbackAboutMe.length  > 0 || feedbackIGave.length  > 0">

      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <!-- <p class="pt-4 text-center">
              <strong>What kind of feedback would you like to see?</strong>
              </p> -->
          </div>
        </div>

        <ul class="row nav nav-tabs nav-justified" id="pills-tab" role="tablist">
          <li class="nav-item col-6 col-sm-6">
            <a class="nav-link active" id="pills-about-tab" data-toggle="pill" href="#pills-about" role="tab" aria-controls="pills-about"
              aria-selected="true">About Me</a>
          </li>
          <li class="nav-item col-6 col-sm-6">
            <a class="nav-link" id="pills-gave-tab" data-toggle="pill" href="#pills-gave" role="tab" aria-controls="pills-gave" aria-selected="false">I Gave</a>
          </li>
        </ul>

      </div>

      <div class="col-12" id="bodyyy">
        <div class="tab-content  ml-2 ml-sm-4 mr-2 mr-sm-4 mt-2 mt-sm-4" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-about" role="tabpanel" aria-labelledby="pills-about-tab">

            <div *ngFor="let feedback of feedbackAboutMe; let i = index">
              <app-list-feedback [feedback]="feedback"></app-list-feedback>
            </div>

          </div>
          <!--end about tab-->
          <div class="tab-pane fade" id="pills-gave" role="tabpanel" aria-labelledby="pills-gave-tab">
            <div *ngFor="let feedback of feedbackIGave; let i = index">
              <app-list-feedback [feedback]="feedback"></app-list-feedback>
            </div>
          </div>
          <!--end gave tab-->
        </div>
      </div>
    </div>

  </div>
</div>