<div class="row">
    <form class="form col-12" role="form" #searchForm="ngForm" (submit)="submit()">
        <div class="row" id="searchFilters">
            <div class="col-12 col-xs-4 col-sm-4 col-md-2 mt-3 mt-sm-0">
                <label><strong>Their sex:</strong></label>
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" name="gender" type="radio" id="gender-male" value="Male" checked [ngModel]="searchQuery?.gender" (ngModelChange)="searchQuery.gender=$event">
                    <label class="custom-control-label" for="gender-male">Man</label>
                </div>
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" name="gender" type="radio" id="gender-female" value="Female" [ngModel]="searchQuery?.gender" (ngModelChange)="searchQuery.gender=$event">
                    <label class="custom-control-label" for="gender-female">Woman</label>
                </div>
            </div>
            <div class="col-12 col-xs-4 col-sm-4 col-md-2 mt-3 mt-sm-0">
                <label><strong>Their preference:</strong></label>
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" name="preference" type="radio" id="pref-male" value="Male" checked [ngModel]="searchQuery?.preference" (ngModelChange)="searchQuery.preference=$event">
                    <label class="custom-control-label" for="pref-male">Men</label>
                </div>
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" name="preference" type="radio" id="pref-female" value="Female" [ngModel]="searchQuery?.preference" (ngModelChange)="searchQuery.preference=$event">
                    <label class="custom-control-label" for="pref-female">Women</label>
                </div>
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" name="preference" type="radio" id="pref-both" value="Both" [ngModel]="searchQuery?.preference" (ngModelChange)="searchQuery.preference=$event">
                    <label class="custom-control-label" for="pref-both">Both <small class="text-muted d-none d-md-block">(men & women, not men or women)</small></label>
                </div>
            </div>

            <div class="col-12 col-xs-4 col-sm-4 col-md-2 mt-3 mt-sm-0">
                <label><strong>Their body type:</strong></label>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" name="bodyTypeRaw" type="checkbox" id="body-athletic" value="Athletic" [ngModel]="searchQuery?.bodyTypeRaw?.athletic" (ngModelChange)="searchQuery.bodyTypeRaw.athletic=$event">
                    <label class="custom-control-label" for="body-athletic">Athletic</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" name="bodyTypeRaw" type="checkbox" id="body-thin" value="Thin" [ngModel]="searchQuery?.bodyTypeRaw?.thin" (ngModelChange)="searchQuery.bodyTypeRaw.thin=$event">
                    <label class="custom-control-label" for="body-thin">Thin</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" name="bodyTypeRaw" type="checkbox" id="body-average" value="Average" [ngModel]="searchQuery?.bodyTypeRaw?.average" (ngModelChange)="searchQuery.bodyTypeRaw.average=$event">
                    <label class="custom-control-label" for="body-average">Average</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" name="bodyTypeRaw" type="checkbox" id="body-plus" value="Plus" [ngModel]="searchQuery?.bodyTypeRaw?.plus" (ngModelChange)="searchQuery.bodyTypeRaw.plus=$event">
                    <label class="custom-control-label" for="body-plus">Plus</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" name="bodyTypeRaw" type="checkbox" id="body-very-plus" value="Very Plus" [ngModel]="searchQuery?.bodyTypeRaw?.veryPlus" (ngModelChange)="searchQuery.bodyTypeRaw.veryPlus=$event">
                    <label class="custom-control-label" for="body-very-plus">Very Plus</label>
                </div>
            </div>
            
            <div class="col-12 col-xs-4 col-sm-4 col-md-2 mt-3 mt-sm-0">
                <label><strong>Location:</strong></label>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="useRange" id="useRange" [(ngModel)]="searchQuery.useRange">
                    <label class="custom-control-label" for="useRange">Limit by range:</label>
                </div>
                <div *ngIf="searchQuery.useRange" class="row mt-3">
                    <div class="col-12">
                        <label class="custom-control-lable" for="range" id="range"><strong>{{searchQuery?.range || 0}} miles</strong></label>
                        <!-- <input type="range" min="1" max="150" value="30" class="form-control" id="range" name="range" [(ngModel)]="user.range" required> -->
                        <nouislider [min]="1" [max]="150" [step]="1" name="range" [(ngModel)]="searchQuery.range"></nouislider>
                    </div>
                    
                </div>
            </div>

            <div class="col-12 col-xs-4 col-sm-4 col-md-2 mt-3 mt-sm-0">
                <label for="range"><strong>Age Range:</strong></label>
                <label class="custom-control-lable">{{ageRange[0]}}-{{ageRange[1]}} years old</label>
                <nouislider [connect]="true" [min]="18" [max]="100" [step]="1" name="ageRange" [(ngModel)]="ageRange"></nouislider>
            </div>

        <!-- <div class="form-group">
          <label for="range"><strong>Age Range: {{ageRange[0]}}-{{ageRange[1]}} years old</strong></label>
          <nouislider [connect]="true" [min]="18" [max]="100" [step]="1" name="ageRange" [(ngModel)]="ageRange"></nouislider>
        </div> -->
       
        </div>
        <div class="row mt-4">
            <div class="col-12 d-flex justify-content-center">
                <div class="btn btn-secondary m-2" (click)="resetSearchQuery()">Reset</div>
                <input type="submit" class="btn btn-primary m-2" value="Submit">
            </div>
        </div>
      
    </form>
</div>

<hr>

<div class="row">
    <div class="col-12">
        <app-list-user-profiles [inputUsers]="searchResults"></app-list-user-profiles>
    </div>
</div>