img{
    border-radius: 50%;
    background-color:#e6e6e6;
}

#main{
    cursor: pointer;
}

.fa-mars{
    color:blue;
}

.fa-venus{
    color:pink;
}

li{
    list-style-type:circle;
}