<div class="row align-items-center justify-content-center" id="loading" *ngIf="status.loading">
  <app-loading></app-loading>
</div>

<div *ngIf="!status?.loading && channels.length <= 0">
  <div class="row shadowCard mt-2 mb-1 midMarginMedium">
    <div class="col-12">
      <app-link-card [linkHeader]="'Not Yet!'" [linkBody]="'Looks like you havn\'t matched with anyone quite yet'"
        [imgUrl]="'assets/img/icons/alarm-clock.png'" [link]="'/date'"></app-link-card>
    </div>
  </div>
</div>


<div class="row" id="mainRow" *ngIf="!status.loading && channels.length > 0">
  <div class="col-12">
    <div class="row midMarginLarge">
      <div class="col-12">
        <div *ngFor="let ch of channels; let i = index">
          <app-channel-list-item [channel]="ch"></app-channel-list-item>
        </div>
      </div>
      <!-- <button (click)='addMessage()'>Add</button> -->
    </div>
  </div>
</div>