<div class="row justify-content-center p-4" >
  <div class="col-12" id="card">
    <div class="row">
      <div class="col-12" id="imgContainer">
        <img [src]="user?.photo?.replace('filter','480x350')">
      </div>
    </div>
    
        
    <div class="row">
      <div class="col-12">
        <div id="bio">
          <h4 class="">{{user?.name}} <span class="red">{{user?.age}}</span>
            <div *ngIf="user?.gender == 'Female'; then femaleSign else maleSign"></div>
              <ng-template #femaleSign><small class="ml-2 text-muted"><i class="fas fa-venus"></i></small></ng-template>
              <ng-template #maleSign><small class="ml-2 text-muted"><i class="fas fa-mars"></i></small></ng-template>
          </h4>
          <p class="text-muted">likes {{user?.preference}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

