#card{
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.11);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.11);

    padding:0px;
}

img{
    max-width:100%;
    /*position: relative;
    top: 50%;
    transform: translateY(-50%); */
}

#imgContainer{
    
    overflow: hidden;
}

#bio{
    background-color: #ff7f0017;


    color:black;
    padding:0.85rem;

}

#card{
    cursor: pointer;
}

#bio h4{
    margin:0px;
    
    text-transform:capitalize;
}

p{
    font-size:95%;
    margin:0px;
    padding:0px;

    
}

span{
    font-size:85%;
    color:#0400a0;
}