<div class="row">
  <div class="col-12">
    <div *ngIf="showLocationAlert" class="alert alert-warning">You need to set your location before your profile becomes discoverable</div>
    <div class="row">
      <div class="col-12 text-center">
        <h1>Hello there {{user?.name}}</h1>
      </div>
    </div>
    <dl class="row" id="statistics">
      <dt class="col-sm-3">Current Points</dt>
      <dd class="col-sm-9">{{user?.points?.current}}</dd>

      <dt class="col-sm-3">Total Points</dt>
      <dd class="col-sm-9">{{user?.points?.total}}</dd>

      <dt class="col-sm-3">User ID:</dt>
      <dd class="col-sm-9">{{user?._id}}</dd>
    </dl>

  </div>

</div>