#card{
    max-width:750px;
    margin:auto;

    background-color: #fffbf5;
    /* border-style: solid; */
}

#profileImage{
    max-width:100%;
    display:block;
    margin:auto;
}

#userName{
    text-transform:capitalize;
}

span{
    color:#0400a0;
}

#distance{
    font-size:65%;
    color:black;
}


#bioBlock{
    background-color:#d3b39d26;
    padding:15px;

}
#bioBlock p{
    margin:0px;
}

textarea::placeholder {
    color: rgb(218, 218, 218); 
}

#submitButton{
    width:15rem;
}


  