#mainRow{
    width:750px;
    margin:auto;

    /* height: 450px; */
    overflow-y: scroll;
    overflow-x:hidden;

    background-color:white;
}

#textArea{
    /* width:85%; */
    flex:1;
    
}

#loading{
}