<div class="row">


  <div class="" id="mainRow" #mainRow [ngStyle]="{'height.px': pageHeight}">
    <div class="row justify-content-center" *ngIf="isLoading">
      <app-loading></app-loading>
    </div>
    <div class="col-12" *ngIf="!isLoading">
      <div class="row">
        <div class="col-12">
          <div *ngFor="let message of messages;">
            <app-single-message [message]="message"></app-single-message>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <textarea id="textArea" class="form-control" rows="1" [(ngModel)]="textAreaMessage"></textarea>
            <button class="btn btn-primary" (click)="addMessage()">
              <i class="fas fa-sign-in-alt"></i>
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>