<div class="row align-items-center justify-content-center" id="loading" *ngIf="isLoading">
  <app-loading></app-loading>
</div>

<div class="row " *ngIf="!isLoading">
  <div class="d-flex align-items-end pl-2 pr-2 pb-2 pt-0" id="mainRow" #mainRow [ngStyle]="{'height.px': pageHeight}">
   
    <div class="col-12" >
      <div class="row">
        <div class="col-12">
          <div *ngFor="let message of messages;">
            <app-single-message [message]="message"></app-single-message>
          </div>

          <div *ngIf="!isLoading && messages?.length <= 0" class="mt-4 mb-4">
            <p class="text-center">No messages yet. Send em something nice <3</p>
          </div>
        </div>
        <div class="col-12 ">
          <div class="row d-flex mb-2">
            <textarea id="textArea" class="form-control ml-2" rows="3" [(ngModel)]="textAreaMessage" (keydown)="textAreaEnterHandler($event)"></textarea>
            <button class="btn btn-primary" (click)="addMessage()">
              <i class="fas fa-sign-in-alt"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>